{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="padding-top-30 text-center text-white">
        <div class="logo-page">
            <img class="img-responsive center" src="{{ asset('bundles/frontend/img/alexsys.png') }}">
        </div>

        <h3>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</h3>
    </div>
{% endblock fos_user_content %}
