{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="padding-top-30 text-center">
        <h3>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</h3>
    </div>
{% endblock fos_user_content %}
