$directions: top right bottom left;
@each $direction in $directions {
  @for $i from 1 through 50 {
    .padding-#{$direction}-#{$i} {
      padding-#{$direction}: #{$i}px;
    }
  }
}
body{
  background: #ecf0f5;
}
.content-wrapper {
  .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    &.box-success {
      border-top-color: #00a65a;
    }
    .box-body{
      padding: 10px;
    }
  }
}
.content-footer {
  margin-top: 50px;
  background: #333;
  color: #fff;
  padding: 20px 0;
}

.content-header{
  small{
    padding-top: 20px;
    font-size: 16px;
  }
}
.flat {
  border-radius: 0 !important;
}
.divider-border{
  position: relative;
  height: 4px;
  margin-bottom: 50px;
  margin-top: 20px;
  .divider-border-inner{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: calc(50% - 40px);
    width: 80px;
    max-width: 100%;
    background: $brand-success;
  }
}

.service-row {
  transition: .5s;
  color: #333;
  text-decoration: none !important;
  &:hover{
    color: $brand-success;
    opacity: 0.8;
    cursor: pointer;
  }
  .service-content {
    ul {
      padding-left: 25px !important;
      li {
        padding-bottom: 10px;
      }
    }
  }
}