{% extends 'BackendBundle:CRUD:show.html.twig' %}
{% block path_edit path('slipType_edit',{'id':slipType.id}) %}
{% block show_body %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'slipType.name'|trans }}</th>
            <td>
                {{ slipType.name}}
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}
