<td >
    {{ form_widget(form.accountId,{attr:{class:'code-account'}}) }}
</td>
<td class="cuenta-name"></td>
<td >
    {{ form_widget(form.deve) }}
</td>
<td >
    {{ form_widget(form.haber) }}
</td>
