<td >
    {{ form_widget(form.accountId,{attr:{class:'code-account'}}) }}
</td>
<td class="cuenta-name"></td>
<td>
    {{ form_widget(form.deve,{attr:{class:'debe-observe'}}) }}
</td>
<td>
    {{ form_widget(form.haber,{attr:{class:'haber-observe'}}) }}
</td>
